mixin like(type)
	span.like(
		data-title="Я накормил сборную #{country.accusative}!",
		data-description='Поддержи любимую сборную! Футболист - не футболист, когда голоден.',
		data-image='http://s5o.ru/common/images/snickers.jpg'
		)
		a.like.soc(class=type, href="http://www.sports.ru/#snickers_iframe")

.widget-snickers.widget-s-result
	span.widget-tesult-text СБОРНУЮ #{country.accusative}
	.flag-result
		img(src="/s/images/flags/#{country.flag}.png", alt=country.name)

	.widget-foot
		.widget-social-box
			.social-icons-big
				mixin like('fb')
				mixin like('vk')
				mixin like('tw')
	script
		jQuery(function($) {
			Cufon.replace(".widget-snickers .widget-tesult-text");
			$('.like').social();
		});